.second-class {
  border: 2px;
}
.third-class {
  border-bottom: 2px;
  border: 1px;
}
#navigation {

}
.navstyle {
  float: left;
  margin: 10px;
  background: #eaeaea;
  border-radius: 5px;
  padding: 10px;
  position: sticky;
}
